.sider {
  background: theme(colors.colorthemes) !important;
}
.ant-layout-sider.ant-layout-sider-collapsed.sider {
  flex: 0 0 60px !important;
  max-width: 60px !important;
  min-width: 60px !important;
  width: 60px !important;
}
.ant-layout-sider.sider:not(.ant-layout-sider-collapsed) {
  flex: 0 0 230px !important;
  max-width: 230px !important;
  min-width: 230px !important;
  width: 230px !important;
}

.ant-layout-sider.sider {
  padding: 5px !important;
}

.ant-menu {
  background: theme(colors.colorthemes) !important;
  color: white;
}

.ant-menu-item.ant-menu-item-selected .ant-menu-title-content {
  color: theme(colors.colorthemes) !important;
  font-weight: bold;
}

.ant-menu-item.ant-menu-item-selected .anticon {
  color: theme(colors.colorthemes) !important;
  font-weight: bold;
}

.ant-menu-item .ant-menu-title-content {
  color: white !important;
  font-weight: bold;
}

.ant-menu-item .anticon {
  color: white !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-inline
  .ant-menu-submenu-title
  .ant-menu-title-content {
  color: white !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-inline .ant-menu-submenu-title .anticon {
  color: white !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-inline
  .ant-menu-submenu-title
  .ant-menu-submenu-arrow {
  color: white !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-selected:not(
    .ant-menu-submenu-open
  ) {
  background: white !important;
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-selected:not(
    .ant-menu-submenu-open
  )
  .ant-menu-submenu-title
  .ant-menu-title-content {
  color: theme(colors.colorthemes) !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-selected:not(
    .ant-menu-submenu-open
  )
  .ant-menu-submenu-title
  .anticon {
  color: theme(colors.colorthemes) !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-selected:not(
    .ant-menu-submenu-open
  )
  .ant-menu-submenu-title
  .ant-menu-submenu-arrow {
  color: theme(colors.colorthemes) !important;
  font-weight: bold;
}

.ant-menu-item .ant-menu-inline-collapsed-noicon {
  color: white !important;
  font-weight: bold;
}

.ant-menu-item.ant-menu-item-selected .ant-menu-inline-collapsed-noicon {
  color: theme(colors.colorthemes) !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-vertical
  .ant-menu-submenu-title
  .ant-menu-inline-collapsed-noicon {
  color: white !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-vertical .ant-menu-submenu-title .anticon {
  color: white !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-vertical.ant-menu-submenu-selected
  .ant-menu-submenu-title
  .anticon {
  color: theme(colors.colorthemes) !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-vertical.ant-menu-submenu-selected
  .ant-menu-submenu-title
  .ant-menu-inline-collapsed-noicon {
  color: theme(colors.colorthemes) !important;
  font-weight: bold;
}

.ant-menu-submenu.ant-menu-submenu-vertical.ant-menu-submenu-selected {
  background: white !important;
}

.bg-logo-menu {
  background-image: url(../images/logoTemplate.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 48px;
}

.logo-login {
  background-image: url(../images/logoLogin.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 290px;
  height: 77px;
}

.layout-login {
  background-image: url(../images/loginLayout.jpg);
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table thead tr th {
  background-color: theme(colors.colorthemes) !important;
  color: white !important;
  padding: 10px 10px !important;
}

table tbody tr td {
  padding: 10px 10px !important;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* .ant-pagination {
  list-style-type: none;
}

td.ant-table-column-sort {
  background: transparent;
}

.ant-pagination-item-link {
  line-height: 1;
}

.ant-table-tbody > tr > td {
  padding: 5px;
}

.ant-table-column-sorters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
} */

.ant-pagination .ant-pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-input.ant-input-disabled {
  color: #3e3838;
}


.tabs-hocba .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list {
  width: 100%;
}

.tabs-hocba .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  width: calc(100% / 3);
}

.tabs-hocba .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab div {
  text-align :center; 
  width: 100%;
}

.tabs-hocba .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  width : calc(100% / 3) !important;
}

table.table-diem thead tr th{
  border : 1px solid #ccc;
}